In [1]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import pandas as pd
import numpy  as np
from sklearn.model_selection import train_test_split
%matplotlib inline

In [2]:
df=pd.read_csv("clean_data.csv")
df

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,Ready to move,2,NaN,1.0,Sembakkam,MP Developers
1,93.54,1346,Under Construction,3,2.0,NaN,Selaiyur,DAC Promoters
2,151.00,2225,Under Construction,3,NaN,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,Ready to move,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,Under Construction,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd
...,...,...,...,...,...,...,...,...
2615,27.50,750,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2616,27.50,750,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2617,30.00,800,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2618,31.50,850,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2619,34.00,900,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties

In [3]:
df[df.location=='Washermanpet']

      price  area         status  bhk  bathroom  age      location builder
1180  100.0  1400  Ready to move    3       3.0  3.0  Washermanpet  seller

In [4]:
df1=df.drop(df[['builder','status']],axis='columns')
df1

       price  area  bhk  bathroom  age     location
0      37.49   872    2       NaN  1.0    Sembakkam
1      93.54  1346    3       2.0  NaN     Selaiyur
2     151.00  2225    3       NaN  0.0    Mogappair
3      49.00  1028    2       2.0  3.0     Ambattur
4      42.28   588    2       1.0  0.0   Pallavaram
...      ...   ...  ...       ...  ...          ...
2615   27.50   750    2       2.0  3.0  Veppampattu
2616   27.50   750    2       2.0  3.0  Veppampattu
2617   30.00   800    2       2.0  3.0  Veppampattu
2618   31.50   850    2       2.0  3.0  Veppampattu
2619   34.00   900    2       2.0  3.0  Veppampattu

[2620 rows x 6 columns]

In [5]:
p=df1.price
p.head()

0     37.49
1     93.54
2    151.00
3     49.00
4     42.28
Name: price, dtype: float64

In [6]:
df1.drop(df1[['price']],axis='columns',inplace=True)
df1

      area  bhk  bathroom  age     location
0      872    2       NaN  1.0    Sembakkam
1     1346    3       2.0  NaN     Selaiyur
2     2225    3       NaN  0.0    Mogappair
3     1028    2       2.0  3.0     Ambattur
4      588    2       1.0  0.0   Pallavaram
...    ...  ...       ...  ...          ...
2615   750    2       2.0  3.0  Veppampattu
2616   750    2       2.0  3.0  Veppampattu
2617   800    2       2.0  3.0  Veppampattu
2618   850    2       2.0  3.0  Veppampattu
2619   900    2       2.0  3.0  Veppampattu

[2620 rows x 5 columns]

In [7]:
(df1.age.isna()).sum()

891

In [8]:
(df1.bathroom.isna()).sum()

1217

In [9]:
age_rep=int(df1.age.mean())

In [10]:
df1.age.median()

0.0

In [11]:
df1.bathroom.mean()

2.359230220955096

In [12]:
int(df1.bathroom.median())

2

In [13]:
bath_rep=float(df1.bathroom.median())
bath_rep

2.0

In [14]:
df1.age=df1.age.fillna(age_rep)

In [15]:
df1

      area  bhk  bathroom  age     location
0      872    2       NaN  1.0    Sembakkam
1     1346    3       2.0  1.0     Selaiyur
2     2225    3       NaN  0.0    Mogappair
3     1028    2       2.0  3.0     Ambattur
4      588    2       1.0  0.0   Pallavaram
...    ...  ...       ...  ...          ...
2615   750    2       2.0  3.0  Veppampattu
2616   750    2       2.0  3.0  Veppampattu
2617   800    2       2.0  3.0  Veppampattu
2618   850    2       2.0  3.0  Veppampattu
2619   900    2       2.0  3.0  Veppampattu

[2620 rows x 5 columns]

In [16]:
(df1.age.isna()).sum()

0

In [17]:
df1.bathroom=df1.bathroom.fillna(bath_rep)

In [18]:
df1

      area  bhk  bathroom  age     location
0      872    2       2.0  1.0    Sembakkam
1     1346    3       2.0  1.0     Selaiyur
2     2225    3       2.0  0.0    Mogappair
3     1028    2       2.0  3.0     Ambattur
4      588    2       1.0  0.0   Pallavaram
...    ...  ...       ...  ...          ...
2615   750    2       2.0  3.0  Veppampattu
2616   750    2       2.0  3.0  Veppampattu
2617   800    2       2.0  3.0  Veppampattu
2618   850    2       2.0  3.0  Veppampattu
2619   900    2       2.0  3.0  Veppampattu

[2620 rows x 5 columns]

In [19]:
(df1.bathroom.isna()).sum()

0

In [20]:
df1.dtypes

area          int64
bhk           int64
bathroom    float64
age         float64
location     object
dtype: object

In [21]:
df1.isna().sum()

area        0
bhk         0
bathroom    0
age         0
location    0
dtype: int64

In [22]:
df1.area.unique()

array([ 872, 1346, 2225, ..., 1127, 1131,  898], dtype=int64)

In [23]:
df1.location.value_counts()

Veppampattu                       149
Pammal                            139
Medavakkam                        111
Sholinganallur                     99
Perungudi                          88
                                 ...
Villivakkam                         1
Kil Ayanambakkam                    1
Oragadam Village Ambattur Talu      1
Sriperumbudur                       1
Maduravoyal                         1
Name: location, Length: 178, dtype: int64

In [24]:
dp=df1
dp.groupby('location')['location'].agg('count').sort_values()

location
Kolapakkam Vandalur      1
Cholambedu               1
Red Hills                1
Thiruvidandhai           1
Mahabalipuram            1
                      ...
Perungudi               88
Sholinganallur          99
Medavakkam             111
Pammal                 139
Veppampattu            149
Name: location, Length: 178, dtype: int64

In [25]:
ls=dp.groupby('location')['location'].agg('count')

In [26]:
to_red=ls[ls<=3]
to_red

location
Anna Nagar East    2
Arumbakkam         2
Ashok Nagar        1
Avadi              3
Ayanavaram         3
                  ..
Thiruvidandhai     1
Vellakkal          1
Veppampatttu       2
Villivakkam        1
Washermanpet       1
Name: location, Length: 67, dtype: int64

In [27]:
"""def change_loc(x):
    if x in to_red:
        return "other"
    else:
        return x
   """

'def change_loc(x):\n    if x in to_red:\n        return "other"\n    else:\n        return x\n   '

In [28]:
#df1.location=df1.location.apply(change_loc)

In [29]:
df1.location.value_counts()

Veppampattu                       149
Pammal                            139
Medavakkam                        111
Sholinganallur                     99
Perungudi                          88
                                 ...
Villivakkam                         1
Kil Ayanambakkam                    1
Oragadam Village Ambattur Talu      1
Sriperumbudur                       1
Maduravoyal                         1
Name: location, Length: 178, dtype: int64

In [30]:
df1.shape

(2620, 5)

In [31]:
def tambaram_change(x):
    if(x=="tambaram west"):
        return "West Tambaram"
    return x

In [32]:
df1['location']=df1.location.apply(tambaram_change)

In [33]:
dum=pd.get_dummies(df1.location)

In [34]:
df1.location.unique()

array(['Sembakkam', 'Selaiyur', 'Mogappair', 'Ambattur', 'Pallavaram',
       'Virugambakkam', 'Thirumazhisai', 'Moolakadai', 'Ottiyambakkam',
       'Perungalathur', 'Gerugambakkam', 'Anna Nagar', 'Gopalapuram',
       'Pammal', 'Porur', 'Navallur', 'Sholinganallur', 'Vanagaram',
       'T Nagar', 'Guindy', 'Madipakkam', 'Perumbakkam', 'Velachery',
       'Medavakkam', 'Gowrivakkam', 'Chromepet', 'Thalambur', 'Thandalam',
       'Ayanambakkam', 'Kanathur Reddikuppam', 'Adyar', 'Kolapakkam',
       'Thaiyur', 'Thoraipakkam OMR', 'Poonamallee', 'Padur',
       'East Tambaram', 'Tiruvottiyur', 'Iyappanthangal', 'Padappai',
       'Mugalivakkam', 'Kelambakkam', 'Thirumullaivoyal', 'Madhavaram',
       'Kundrathur', 'Vengaivasal', 'Siruseri', 'Manapakkam',
       'Karapakkam', 'Sithalapakkam', 'Madambakkam', 'Perungudi',
       'Vadapalani', 'Alwarpet', 'Thiruvidandhai', 'Kotturpuram',
       'Velappanchavadi', 'Kilpauk', 'Besant Nagar', 'Vellakkal', 'Avadi',
       'Kolathur', 'Thiruvanmiyur', 'Periyar Nagar', 'Nanmangalam',
       'Anakaputhur', 'Urapakkam', 'Kovur', 'Nungambakkam', 'Maduravoyal',
       'Guduvancheri', 'Koyambedu', 'Korattur', 'Iyyappanthangal',
       'Madhavaram Milk Colony', 'Jeth Nagar', 'Mangadu',
       'Singaperumal Koil', 'Madhanandapuram', 'Kandigai', 'Veppampattu',
       'Saidapet', 'Oragadam Village Ambattur Talu', 'Pattabiram',
       'Mahabalipuram', 'Ayapakkam', 'Chitlapakkam', 'Puzhal',
       'Washermanpet', 'Thiruverkadu', 'Pozhichalur', 'Mannur',
       'West Mambalam', 'Kattupakkam', 'Maraimalai Nagar', 'Chetpet',
       'Ramapuram', 'Alandur', 'Red Hills', 'K K Nagar', 'Purasawalkam',
       'Ramavaram', 'Shenoy Nagar', 'Saligramam', 'Royapettah',
       'Valasaravakkam', 'Semmancheri', 'Ottiyabakkam', 'Nanganallur',
       'Pallikaranai', 'Muttukadu', 'Tharapakkam', 'Egmore',
       'Anna Nagar East', 'Ayanavaram', 'Raja Annamalai Puram',
       'Aminjikarai', 'Purasaiwakkam', 'Periyapanicheri',
       'Kattankulathur', 'Kotivakkam', 'Kumananchavadi', 'Perumalpattu',
       'Kodambakkam', 'Sevvapet', 'West Tambaram', 'Kovilambakkam',
       'Rajakilpakkam', 'Villivakkam', 'Chengalpattu', 'Cholambedu',
       'Nesapakkam', 'Padapai', 'Neelankarai', 'Vadanemmeli',
       'Kumaran Nagar', 'Ashok Nagar', 'Adambakam', 'Perambur',
       'Keelkattalai', 'Kodungaiyur West', 'Pudupakkam', 'Padi',
       'Mogappair East', 'Elandanur', 'Pazavanthangal', 'Thiruporur',
       'Moolacheri', 'Kolapakkam Vandalur', 'Veppampatttu', 'Manali',
       'Jamalia', 'Kottivakkam', 'Gokulapuram', 'Iyyapa Nagar',
       'Old Pallavaram', 'Sriperumbudur', 'Ponniammanmedu', 'Kovalam',
       'CIT Nagar', 'Agaramthen', 'Vengambakkam', 'Mambakkam',
       'Nallambakkam', 'Peerakankaranai', 'Rathinamangalam',
       'Nandambakkam', 'Jafferkhanpet', 'Arumbakkam', 'Kuthambakkam',
       'Thirumalpur', 'Mahindra World City',
       'Oragadam Industrial Corridor', 'Ragavendra Colony',
       'Ambattur INDUSTRIAL ESTATE', 'Mannivakkam', 'Kil Ayanambakkam'],
      dtype=object)

In [35]:
final=pd.concat([df1,dum],axis=1)

In [36]:
final.drop(['location'],inplace=True,axis=1)

In [37]:
final

,area,bhk,bathroom,age,Adambakam,Adyar,Agaramthen,Alandur,Alwarpet,Ambattur,...,Vellakkal,Vengaivasal,Vengambakkam,Veppampatttu,Veppampattu,Villivakkam,Virugambakkam,Washermanpet,West Mambalam,West Tambaram
0,872,2,2.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1346,3,2.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2225,3,2.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1028,2,2.0,3.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,588,2,1.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,750,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2616,750,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2617,800,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2618,850,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2619,900,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [38]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(final,p,test_size=0.2)

In [39]:
len(x_train)

2096

In [40]:
len(x_test)

524

In [41]:
from sklearn.model_selection import cross_val_score

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [43]:
m=LinearRegression()
m.fit(x_train,y_train)
m.score(x_test,y_test)

-111318860460596.89

In [44]:
s2=cross_val_score(Ridge(),x_train,y_train,cv=5)
sum(s2)/len(s2)

0.8772641898297222

In [45]:
s1=cross_val_score(Lasso(),final,p,cv=5)
sum(s1)/len(s1)

0.581763918414102

In [46]:
final.columns

Index(['area', 'bhk', 'bathroom', 'age', 'Adambakam', 'Adyar', 'Agaramthen',
       'Alandur', 'Alwarpet', 'Ambattur',
       ...
       'Vellakkal', 'Vengaivasal', 'Vengambakkam', 'Veppampatttu',
       'Veppampattu', 'Villivakkam', 'Virugambakkam', 'Washermanpet',
       'West Mambalam', 'West Tambaram'],
      dtype='object', length=181)

In [47]:
model=LinearRegression()
model.fit(final,p)

LinearRegression()

In [48]:
final

,area,bhk,bathroom,age,Adambakam,Adyar,Agaramthen,Alandur,Alwarpet,Ambattur,...,Vellakkal,Vengaivasal,Vengambakkam,Veppampatttu,Veppampattu,Villivakkam,Virugambakkam,Washermanpet,West Mambalam,West Tambaram
0,872,2,2.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1346,3,2.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2225,3,2.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1028,2,2.0,3.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,588,2,1.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,750,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2616,750,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2617,800,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2618,850,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2619,900,2,2.0,3.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [49]:
def predict_func(location,area,bhk,bath,age):
    try:
        loc_ind=np.where(final.columns==location)[0][0]
    except:
        loc_ind=-1
    p=np.zeros(len(final.columns))
    p[0]=area
    p[1]=bhk
    p[2]=bath
    p[3]=age
    if(loc_ind>=0):
        p[loc_ind]=1;
    return model.predict([p])[0]

In [50]:
predict_func('Adambakam',900,2,1,2)

76.39110946655273

In [56]:
predict_func('Washermanpet',1400,3,3,3)

99.99999618530273

In [52]:
predict_func('Pammal',1000,2,2,1)

63.38694381713867

In [53]:
model.score(x_test,y_test)

0.9402443003087222

In [57]:
import pickle
with open('chennai_prediction_model.pickle','wb') as f:
    pickle.dump(model,f)

In [58]:
import json
columns={
    'data_columns':[col.lower() for col in final.columns]
}
with open('column.json','w') as f1:
    f1.write(json.dumps(columns))